\.venv
\topnmusic.egg-info
\__pycache__
\build
\checkpoints
\end_models
\checkpoints_model_params
\end_models_model_params
\model_params_compare
\initial_model_checkpoints

*.pkl
*.mp3
model.safetensors
optimizer.pt